{% extends "calendar/layout.html" %}
{% load static %}
{% block body %}
<h1>How many religious adherents</h1>

<div id="wrapper">
    <select name="year" id="year-select">
        <option value="">Select a Year</option>
        <option>1945</option>
        <option>1950</option>
        <option>1955</option>
        <option>1960</option>
        <option>1965</option>
        <option>1970</option>
        <option>1975</option>
        <option>1980</option>
        <option>1985</option>
        <option>1990</option>
        <option>1995</option>
        <option>2000</option>
        <option>2005</option>
        <option>2010</option>
    </select>
    <select name="region" id="region-select">
        <option value="">Select a Region</option>
        <option value="Africa">Africa</option>
        <option value="Asia">Asia</option>
        <option value="West. Hem">Western Hemisphere</option>
        <option value="Mideast">Middle East</option>
        <option value="Europe">Europe</option>
    </select>
    <select name="region" id="religion-select">
        <option value="">Select a Religion</option>
        <option value="Christians">Christianity</option>
        <option value="Muslims">Islam</option>
        <option value="Jews">Judaism</option>
        <option value="Buddhists">Buddhism</option>
        <option value="Hindus">Hindu</option>
        <option value="Sikhs">Sikhism</option>
        <option value="Shinto">Shintō</option>
        <option value="Animists">Animism</option>
        <option value="People living">Population</option>
        <option value="People on Earth">World Population</option>
    </select>
</div>
<!--<div id="submit">Submit</div>!-->
<div id="result"></div>
{% endblock %}